<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>

<body>
  <header>
    <a href="./index.html" class="logo" id="logo">
      CDA
    </a>
    <div class="menu-burger" id="menu-burger">
      <div class="nav-link">
        <a href="/Article">Article</a>
        <a href="/TypeArticle">Type Article</a>
      </div>
    </div>
  </header>
  <h1 class="titre-page">
    Les Articles
  </h1>
  <main>
    <div class="card" th:each="article : ${LesArticles}">
      <h2 th:text="${article.image}" class="text-primary"></h2>
      <h3 th:text="${article.typearticle.libelle}"></h3>
      <p th:text="'Matiere : ' + ${article.typearticle.matiere}"></p>
      <p th:text="'Prix : ' + ${article.typearticle.prix} + '€'"></p>
      <p th:text="'Taille : ' + ${article.taille.libelle}"></p>
      <p th:text="'Couleur : ' + ${article.couleur.libelle}"></p>
      <p th:text="'Quantité : ' + ${article.quantitestock}"></p>
      <p th:text="'Catégorie : ' + ${article.typearticle.categorie.libelle}"></p>
    </div>
  </p>
  <a href="/typearticle.html" th:href="@{/TypeArticle}" class="btn btn-large btn-primary">Type Article</a>
  </main>
</body>

</html>