<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <header>
    <a href="./index.html" class="logo" id="logo">
      CDA
    </a>
    <div class="menu-burger" id="menu-burger">
      <div class="nav-link">
        <a href="/Article">Article</a>
        <a href="/TypeArticle">Type Article</a>
      </div>
    </div>
  </header>
  <h1 class="titre-page">
    Les Articles
  </h1>
  <main>
    <div class="card" th:each="article : ${LesArticles}">
      <img th:src="${article.image}" alt="">
      <div class="block-text-card">
        <h3 th:text="${article.typearticle.libelle}"></h3>
        <p th:text="'Matiere : ' + ${article.typearticle.matiere}"></p>
        <p th:text="'Prix : ' + ${article.typearticle.prix} + '€'"></p>
      </div>
    </div>
  </p>
  <a href="/typearticle.html" th:href="@{/TypeArticle}" class="btn btn-large btn-primary">Type Article</a>
  </main>
</body>

</html>